// Helpers para justificar contenido
.d-flex {
  display: flex;
}

.center-content {
  display: flex;
  justify-content: center;
}

.start-content {
  display: flex;
  justify-content: flex-start;
}

.end-content {
  display: flex;
  justify-content: flex-end;
}

.around-content {
  display: flex;
  justify-content: space-around;
}

.between-content {
  display: flex;
  justify-content: space-between;
}

.evenly-content {
  display: flex;
  justify-content: space-evenly;
}

// Helpers para alinear verticalmente
.align-start {
  display: flex;
  align-items: flex-start;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-end {
  display: flex;
  align-items: flex-end;
}

.img-fluid {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.text-center {
  text-align: center;
}
