@use 'variables' as *;

.btn {
  display: inline-block;
  width: fit-content;
  text-align: center;
  color: $white;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s ease;

  &--large {
    padding: 0 3.5rem;
    font-size: 1.7rem;
  }

  &--medium {
    padding: 0 3rem;
    font-size: 1.5rem;
  }

  &--small {
    padding: 0 2rem;
    font-size: 1rem;
  }

  &--primary {
    background-color: $Flame;
  }

  &--secondary {
    background-color: $Moonstone;
  }
}
