@use 'fonts' as *;

// 🎨 Paleta de colores
$Icterine: #FAFF70;
$Jet: #333333;
$Flame: #DD6031;
$Moonstone: #489FB5;
$white: #ECEBF3;

// 🖋️ Tipografía
$Roboto: 'Roboto Condensed', sans-serif;
$Manrope: 'Manrope', sans-serif;

// 📐 Sistema de columnas

$grid-columns: 12;
$gutter-width: 24px;
$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1366px,
  "2xl": 1620px
);