<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="about__content">
          <h3><span>/</span> About</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="about__img-container">
          <picture style="display: contents">
            <source
              type="image/avif"
              srcset="images/profile-dany-400w.avif 400w, images/profile-dany-524w.avif 524w"
              sizes="(min-width: 1024px) 30vw, 42vw"
            />
            <source
              type="image/webp"
              srcset="images/profile-dany-400w.webp 400w, images/profile-dany-524w.webp 524w"
              sizes="(min-width: 1024px) 30vw, 42vw"
            />
            <img
              src="images/profile-dany-524w.webp"
              width="524"
              height="669"
              alt="Daniel Valenzuela"
              class="img-fluid"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
