<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h3><span>/</span> About</h3>
      </div>
      <div class="col-12 col-md-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <div class="about__img-container">
          <img src="assets/images/profile-img-dv.jpg" alt="Daniel Valenzuela" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
