@use 'variables' as *;
@use 'mixins' as *;

.about {
  height: calc(100dvh - 120px);
  display: flex;
  align-items: center;
  &__content {
    display: flex;
    flex-direction: column;
    @include up(lg) {
      flex-direction: row;
    }
    h3 {
      width: 100%;
      margin: 0 2rem 1rem 0;
      @include up(lg) {
        margin: 0 2rem 0 0;
      }
    }
    p {
      font-size: 13px;
      margin-bottom: 1rem;
      @include up(lg) {
        margin-bottom: 0;
        font-size: 1.1rem;
      }
    }
  }
  &__img-container {
    display: flex;
    justify-content: center;
    img {
      width: 50%;
      @include up(lg) {
        width: 100%;
      }
    }
  }
}
