@use 'variables' as *;

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 30px auto;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        width: min(100%, 1620px);
        align-items: center;

        @media (max-width: 1620px) {
            padding-inline: clamp(10px, 8vw, $gutter-width * 2);
        }

        @media (max-width: 1080px) {
            justify-content: space-between;
        }

    }

    &__toggle {
        z-index: 1100;
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        background: none;
        border: none;
        cursor: pointer;

        span {
            width: 24px;
            height: 2px;
            background-color: $Icterine;
            transition: all 0.3s ease;
        }

        &.is-active {
            span:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }

        @media (max-width: 1080px) {
            display: flex;
        }
    }

    &__logo {
        display: inline-block;
        z-index: 1100;

        svg {
            vertical-align: middle;
        }
    }

    &__menu {
        display: none;
        position: fixed;
        inset: 0;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2rem;
        transition: opacity 0.3s ease;

        &.is-open {
            display: flex;
        }

        @media (min-width: 1080px) {
            display: flex;
            position: relative;
            backdrop-filter: blur(0);
            background-color: rgba(0, 0, 0, 0);
            padding: 0 0 0 40px;
        }
    }

    &__links {
        font-family: $Roboto;
        font-size: clamp(16px, 1.3rem, 28px);
        text-transform: uppercase;
        font-weight: 800;
        display: flex;
        list-style: none;
        gap: 2rem;
        margin: 0;
        padding: 0;

        @media (max-width: 1080px) {
            padding: 80px 10px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        li {
            display: flex;
            align-items: center;
            position: relative;
            font-weight: 500;

            a {
                text-decoration: none;
                color: $white;
            }
        }

        span {
            margin-right: 0.5rem;
            color: $Flame;
        }
    }

    &__socials {
        display: none;
    }
}