@use 'variables' as *;

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0;

  .icon {
    background-color: $Icterine;
    border-radius: 100%;
    padding: 10px;
    line-height: 0;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    &:hover {
      transform: rotateY(360deg);
    }
  }
}
