@use 'variables' as *;

.snap-container {
  height: calc(100dvh - $navbar-height);
  overflow-y: auto;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-section {
  scroll-snap-align: start;
  min-height: calc(100dvh - $navbar-height);
  box-sizing: border-box;
}