@use 'app/styles/variables' as *;
@use 'app/styles/grid' as *;
@use 'app/styles/mixins' as *;
@use 'app/styles/helpers' as *;
@use 'app/styles/ui' as *;
@use 'app/styles/globals' as *;

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
